<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.small.flowstatistics"
    android:versionCode="4"
    android:versionName="3.1.4">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- /uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>< -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SMSBroadcastReceiver">   
            <intent-filter>
                <action android:name="android.intent.action.jingyin" />
            </intent-filter>
              
        </receiver>
        <receiver android:name=".ShutdownReceiver">
            <intent-filter>
                <!-- 关机广播 -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiverManual">
            <intent-filter>
                <action android:name="android.intent.action.ALARM_RECEIVER" />
                <!-- 广播接收的Intent -->
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiverTiming">
            <intent-filter>
                <action android:name="android.intent.action.ALARM_RECEIVER" />
                <!-- 广播接收的Intent -->
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkStats">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 广播接收的Intent -->
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiverFree">
            <intent-filter>
                <action android:name="android.intent.action.ALARM_RECEIVER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiverUserPresent">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name=".AlarmManualStart" />
        <service android:name=".AlarmTimingStart" />
        <service android:name=".AlarmFreeStart" />

    </application>

</manifest>